@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: clip;
}

body {
  color: rgb(0, 0, 0);
  background-color: rgb(249, 250, 251);
  max-width: 100vw;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
